@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import '~@angular/material/_theming.scss';

@include mat-core();


$my-theme-primary: mat-palette($mat-orange, 800);
$my-theme-accent: mat-palette($mat-teal);
$my-theme-warn: mat-palette($mat-red);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);



@include angular-material-theme($my-theme);