<h1>You're Invited!</h1>


<table class="table">

  <tbody>
    <tr>
      <th scope="row">Logo</th>
      <td>Event Name</td>
      <td>Event Date and Time</td>
      <td>Event Venue</td>
      <td><button type="button" name="accept">Accept</button></td>
      <td><button type="button" name="decline">Decline</button></td>
    </tr>
    <tr>
      <th scope="row">Logo</th>
      <td>Event Name</td>
      <td>Event Date and Time</td>
      <td>Event Venue</td>
      <td><button type="button" name="accept">Accept</button></td>
      <td><button type="button" name="decline">Decline</button></td>
    </tr>
    <tr>
      <th scope="row">Logo</th>
      <td>Event Name</td>
      <td>Event Date and Time</td>
      <td>Event Venue</td>
      <td><button type="button" name="accept">Accept</button></td>
      <td><button type="button" name="decline">Decline</button></td>
    </tr>
    <tr>
      <th scope="row">Logo</th>
      <td>Event Name</td>
      <td>Event Date and Time</td>
      <td>Event Venue</td>
      <td><button type="button" name="accept">Accept</button></td>
      <td><button type="button" name="decline">Decline</button></td>
    </tr>
    <tr>
      <th scope="row">Logo</th>
      <td>Event Name</td>
      <td>Event Date and Time</td>
      <td>Event Venue</td>
      <td><button type="button" name="accept">Accept</button></td>
      <td><button type="button" name="decline">Decline</button></td>
    </tr>
  </tbody>
</table>
