<h1>Host Invitations</h1>
<br>
<table>
  <tr>
    <td><img src="https://via.placeholder.com/100" alt=""></td>
    <td>
      <p>Howard West Career Fair — 5 miles away...</p>
      <br>
      <p>60 Descanso Drive, San Jose, CA 95134</p>
    </td>
    <td><button>Accept</button><button>Decline</button></td>
  </tr>
  <tr>
    <td><img src="https://via.placeholder.com/100" alt=""></td>
    <td>
      <p>Howard West Career Fair — 5 miles away...</p>
      <br>
      <p>60 Descanso Drive, San Jose, CA 95134</p>
    </td>
    <td><button>Accept</button><button>Decline</button></td>
  </tr>
  <tr>
    <td><img src="https://via.placeholder.com/100" alt=""></td>
    <td>
      <p>Howard West Career Fair — 5 miles away...</p>
      <br>
      <p>60 Descanso Drive, San Jose, CA 95134</p>
    </td>
    <td><button>Accept</button><button>Decline</button></td>
  </tr>
  <tr>
    <td><img src="https://via.placeholder.com/100" alt=""></td>
    <td>
      <p>Howard West Career Fair — 5 miles away...</p>
      <br>
      <p>60 Descanso Drive, San Jose, CA 95134</p>
    </td>
    <td><button>Accept</button><button>Decline</button></td>
  </tr>
  <tr>
    <td><img src="https://via.placeholder.com/100" alt=""></td>
    <td>
      <p>Howard West Career Fair — 5 miles away...</p>
      <br>
      <p>60 Descanso Drive, San Jose, CA 95134</p>
    </td>
    <td><button>Accept</button><button>Decline</button></td>
  </tr>
</table>