<table class="table">


      <h2 style="text-align:center;">Events</h2>


  <tbody>
    <tr>
      <th scope="row">Logo</th>
      <td>Event Name</td>
      <td>Event Date and Time</td>
      <td>Event Venue</td>
    </tr>
    <tr>
      <th scope="row">Logo</th>
      <td>Event Name</td>
      <td>Event Date and Time</td>
      <td>Event Venue</td>
    </tr>
    <tr>
      <th scope="row">Logo</th>
      <td>Event Name</td>
      <td>Event Date and Time</td>
      <td>Event Venue</td>
    </tr>
    <tr>
      <th scope="row">Logo</th>
      <td>Event Name</td>
      <td>Event Date and Time</td>
      <td>Event Venue</td>
    </tr>
    <tr>
      <th scope="row">Logo</th>
      <td>Event Name</td>
      <td>Event Date and Time</td>
      <td>Event Venue</td>
    </tr>
  </tbody>
</table>
