<!doctype html>
<html lang="en">
  <head>

  </head>

  <iframe
  frameborder="0" style="border:0; min-width: 100%" height=500
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAfAicW0WwcRIWGt0woiKHNqBAP8Jtqsbs
    &q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe>

  <body>
  <!--  <ul>
      <li *ngFor="let event of events">
        <span>{{event.title}}</span>
      </li>
    </ul>-->

    <table class="table">


          <h2 style="text-align:center;">Events</h2>


      <tbody>
        <tr>
          <th scope="row">Logo</th>
          <td>Event Name</td>
          <td>Event Date and Time</td>
          <td>Event Venue</td>
        </tr>
        <tr>
          <th scope="row">Logo</th>
          <td>Event Name</td>
          <td>Event Date and Time</td>
          <td>Event Venue</td>
        </tr>
        <tr>
          <th scope="row">Logo</th>
          <td>Event Name</td>
          <td>Event Date and Time</td>
          <td>Event Venue</td>
        </tr>
        <tr>
          <th scope="row">Logo</th>
          <td>Event Name</td>
          <td>Event Date and Time</td>
          <td>Event Venue</td>
        </tr>
        <tr>
          <th scope="row">Logo</th>
          <td>Event Name</td>
          <td>Event Date and Time</td>
          <td>Event Venue</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
