

  <iframe
  frameborder="0" style="border:0; min-width: 100%" height=500
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAfAicW0WwcRIWGt0woiKHNqBAP8Jtqsbs
    &q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe>
<app-events></app-events>
   <mat-card>

      <a mat-button><mat-icon (click)="CreateQoqa()" color="primary">add_location</mat-icon></a> 

      
<table class="table">
      <span class="inline">
  <h2>Events</h2>
  
      </span>
     
     
        <tr>
          <th class="theader">
            <span>Title</span>
            <span>Location</span>
            <span>Date</span>
            <span>Time</span>
            </th>
         <!-- <th>Location</th>
        <th>Date</th> -->
           <!--   <th>Time</th> -->
        </tr>
    
        <!-- <tr *ngFor="let event of events"> -->
            <tbody>
         <tr>
            <mat-expansion-panel *ngFor="let event of events">
            <mat-expansion-panel-header >
          <mat-panel-title>{{event.title}}</mat-panel-title>
          <mat-panel-description>{{event.location}}</mat-panel-description>
          <mat-panel-description>{{event.date}}</mat-panel-description>
          <mat-panel-description>{{event.time}}</mat-panel-description>
          </mat-expansion-panel-header>
          <td>{{event.description}}</td>
        
          <td><button mat-button-raised color="primary">Click me to Join Event</button></td>
        <!-- </tr> -->
      </mat-expansion-panel>

</tr>



<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      </tbody>
    </table>

    <!-- <mat-accordion>
        <mat-expansion-panel [expanded]="allExpandState">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Account #: {{accountNumber}}
            </mat-panel-title>
            <mat-panel-description>
              <table>
                <tr>
                  <td>Value</td>
                  <td>Value</td>
                  <td>Value</td>
                </tr>
                <tr>
                  <td>Value</td>
                  <td>Value</td>
                  <td>Value</td>
                </tr>
                <tr>
                  <td>Value</td>
                  <td>Value</td>
                  <td>Value</td>
                </tr>
              </table>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

      </mat-accordion> -->






    <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[20, 50, 100]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</mat-card>





<!-- 
  <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Self aware panel
</mat-panel-title>
<mat-panel-title>
Currently I am
</mat-panel-title>
</mat-expansion-panel-header>
<p>I'm visible because I am open</p>
</mat-expansion-panel> -->


