


<div class="container">
  <h1>Welcome to Qoqa</h1>
  <h5>An online platform to host and gather information from and about events.</h5>
  <div class="omb_login">
     <h3 class="omb_authTitle">Login to your Dashboard</h3>



   <div class="row omb_row-sm-offset-3 omb_socialButtons">
         <div class="col-xs-4 col-sm-2">
           <a class="btn btn-lg btn-block omb_btn-facebook" (click)="signInWithFacebook()">
             <i class="fa fa-facebook visible-xs"></i>
             <span class="hidden-xs">Facebook</span>
           </a>
         </div>




         <div class="col-xs-4 col-sm-2">
           <a class="btn btn-lg btn-block omb_btn-twitter">
             <i class="fa fa-twitter visible-xs"></i>
             <span class="hidden-xs">Twitter</span>
           </a>
         </div>



         <div class="col-xs-4 col-sm-2">
           <a class="btn btn-lg btn-block omb_btn-google" (click)="signInWithGoogle()">
             <i class="fa fa-google-plus visible-xs"></i>
             <span class="hidden-xs">Google</span>
           </a>
         </div>
   </div>

</div>

<router-outlet></router-outlet>
