<style media="screen">
  .container {
    padding: 15px;
  }
  .btn
  {
    background-color: #ef6c00;
    float: center;
  }
</style>


<div class="container">
  <form>

    <div class="form-group">
      <label name="eventTitle" for="eventName">Event Title</label>
      <input [(ngModel)]="title" name="titleBox" type="text" class="form-control" id="EventName"  placeholder="Give it a short distinct name">
    </div>
    <div class="form-group">
      <label name="eventLocation" for="EventLocation">Location</label>
      <input [(ngModel)]="location1" name="locationBox" type="text" class="form-control" id="EventLocation"  placeholder="Enter a venue or address">
    </div>
    <div class="form-group">
      <label for="Starts">Starts</label>
      <input [(ngModel)]="date" name="startDate" type="date" class="form-control" id="EventStartDate">
      <input [(ngModel)]="time" name="startTime" type="time" class="form-control" id="EventStartTime">
    </div>
    <div class="form-group">
      <label for="Ends">Ends</label>
      <input type="date" class="form-control" id="EventEndDate">
      <input type="time" class="form-control" id="EventEndTime">
    </div>
    <div class="form-group">
      <label for="EventImage">Event Image</label>
      <input type="file" class="form-control-file" id="EventImage" accept="image/png, image/jpeg">
    </div>
    <div class="form-group">
        <label name="eventDescription" for="eventDescription">Event Description</label>
        <input [(ngModel)]="description" name="descriptionBox" type="text" class="form-control" id="eventDescription"  placeholder="Tell us more">
      </div>
    <div class="form-group">
      <label for="eventOrg">Send Invitations to Host (separate uid's by single space)</label>
      <input [(ngModel)]="host" name="hostBox" type="text" class="form-control" id="eventOrganizer">
    </div>
    <div class="form-group">
      <label for="eventOrgDesc">Organizer Description</label>
      <textarea class="form-control" id="eventOrgDescription" rows="3"></textarea>
    </div>
     <button type="submit" class="btn btn-primary" (click)="CreateEvent()">Make Your Event Live</button>
  </form>
</div>
