

<div class="container">
    <h3>[Enter name of event here] Qoqa</h3>
  
  
    <form>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Question 1">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Question 2">
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Question 3">
              </mat-form-field>
  
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Question 4">
                </mat-form-field>
  
  
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Question 5">
                  </mat-form-field>
    </form>
    
    <button mat-raised-button color="primary">Submit</button>
  
  </div>
  
  