h3 {
    text-align: center; 
    padding: 5%;
}

.card-deck {

    display: table-cell;
    width: 50%;
    table-layout: fixed;
    
}
.card {
    height: auto;
    width: auto;
    padding-bottom: 5%;
}