<div class="container">
  <h3>Template Gallery</h3>
  <div class="card-deck">
      
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Contact Information</h5>
            <p class="card-text">Use this template to collect contact information</p>
            <a href="#" class="btn btn-primary">Edit Form</a>
          </div>
        </div>
        
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Event Feedback</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Edit Form</a>
          </div>
        </div>
        
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Event Poll</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Edit Form</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Event Survey</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Edit Form</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Blank</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Edit Form</a>
              </div>
            </div>
      </div>
      
      
      <div class="card-deck">
      
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Contact Information</h5>
                <p class="card-text">Use this template to collect contact information</p>
                <a href="#" class="btn btn-primary">Edit Form</a>
              </div>
            </div>
            
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Event Feedback</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Edit Form</a>
              </div>
            </div>
            
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Event Poll</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Edit Form</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Event Survey</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Edit Form</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Blank</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Edit Form</a>
                  </div>
                </div>
          </div>
          
          <div class="card-deck">
      
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Contact Information</h5>
                    <p class="card-text">Use this template to collect contact information</p>
                    <a href="#" class="btn btn-primary">Edit Form</a>
                  </div>
                </div>
                
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Event Feedback</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Edit Form</a>
                  </div>
                </div>
                
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Event Poll</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Edit Form</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Event Survey</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Edit Form</a>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Blank</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Edit Form</a>
                      </div>
                    </div>
              </div>
  </div>
  