<div>
  <div>
    <img src="https://via.placeholder.com/300" alt="Profile Picture">
    <br>
    <a href="#">Update your profile picture</a>
  </div>

  <div>
    <form action="">
      <label for="">First Name:</label>
      <input type="text">
      <br>
      <label for="">Last Name:</label>
      <input type="text">
      <br>
      <label for="">Email:</label>
      <input type="email">
      <br>
      <label for="">Phone Number:</label>
      <input type="text">
      <br>
      <button>Save</button>
      <button>Edit</button>
    </form>
  </div>
</div>