
<div *ngIf="showNav">
<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Qoqa</span>
  <span class="spacer"> </span>
  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
  <a class="nav-link" href="/create-event">Create Event</a>
  <a class="nav-link" href="/create-qoqa/">Create Qoqa</a>
  <a class="nav-link" href="/invitations">Invitations</a>
  <a class="nav-link" href="/saved-events">Saved Events</a>
  <a class="nav-link" href="/profile">My Profile</a>
</mat-toolbar>
</div>