<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Qoqa!
  </h1>
  <div class="container">
      <div class="row">
        <h2 style="text-align:center">Login with Social Media</h2>


        <!--<div class="col">
          <a href="#" class="fb btn">
            <i class="fa fa-facebook fa-fw"></i> Login with Facebook
          </a>
          <a href="#" class="twitter btn">
            <i class="fa fa-twitter fa-fw"></i> Login with Twitter
          </a>
          <a href="#" class="google btn">
            <i class="fa fa-google fa-fw"></i> Login with Google
          </a>
        </div>-->
        <div class="col">
        </div>

      </div>
  </div>

  <div class="bottom-container">
    <div class="row">
      <div class="col">
        <p href="#" style="color:white" class="btn" (click)="signInWithGoogle()">Sign up</p>
      </div>
      <div class="col">
        <a href="#" style="color:white" class="btn">Forgot password?</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
