<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Qoqa!
  </h1>
  <div class="container">
      <div class="row">
        <h2 style="text-align:center">Login with Social Media</h2>
        <div class="col">
        </div>

      </div>
  </div>
        <p href="#" style="color:white" class="google btn" (click)="signInWithGoogle()">Google</p>
        <a href="#" style="color:white" class="fb btn" (click)="signInWithFacebook()">Facebook</a>
      </div>
<router-outlet></router-outlet>
